<% layout("layouts/boilerplate") %>

 <div class="row mt-3">
    <div class="col-8 offset-2">
        <h3>Sign Up Form</h3>
        <form action="/signup" novalidate class="needs-validation" method="post">

            <label for="userName" class="form-label">Name</label>

            <input type="text" name="userName" placeholder="enter user name" class="form-control" required>

            <label for="email" class="form-label">Email</label>
            <input type="email" name="email" placeholder="enter email" class="form-control" required>

            <label for="password" class="form-label">password</label>
            <input type="password" name="password" placeholder="enter password" class="form-control" required>

            <br>
            
            <button class="btn btn-success">Signup</button>


        </form>

    </div>

 </div>       